body{
    background:#000;
    /* overflow:hidden; */
}
h2{
    color:white!important;
    justify-content:center;
    margin:auto;
    align-items:center;
}
h4{
    color:white!important;
   
}
.percentage p{
        color:white!important;

}
.content{
    height:100vh!important;
    width:fit-content;
    justify-content:center;
    margin:auto;

 
}

.content .container{
        /* border:2px solid red; */
       /* margin-bottom:10px; */
           height:100vh!important;
    width:fit-content;
    justify-content:center;
    margin:auto;

}

.about-header{
  display:flex;
  
}


.box{
    /* border:2px solid red; */
    justify-content:center;
    margin:auto;
    /* box-sizing:border-box; */
    position:relative;
    width:200px;
    height:200px;
    transform-style:preserve-3d;
    animation: animate 20s linear infinite;
}
@keyframes animate{
    0%{
        transform:perspective(9000px) rotateY(0deg);
    }
    100%{
        transform:perspective(9000px) rotateY(360deg);
    }
}
.box span{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform-origin:center;
    transform-style:preserve-3d;
    transform:rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    -webkit-box-reflect:below 0px linear-gradient(transparent,transparent,#0004);
}
.box span img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;

}

.glowing{

    position:relative;

}
.glowing span{
    position:absolute;
    top:calc(80px * var(--i));
    left:calc(80px * var(--i));
    bottom:calc(80px * var(--i));
    right:calc(80px * var(--i));
}
.glowing span:before{
    content:'';
    position:absolute;
    top:50%;
    left:-8px;
    width:15px;
    height:15px;
    background:#f00;
    border-radius:50%;
}
.glowing span:nth-child(3n + 1):before{
    background:rgba(134,255,0,1);
    box-shadow:0 0 20px rgba(134,255,0,1),
                0 0 40px rgba(134,255,0,1),
                0 0 60px rgba(134,255,0,1),
                0 0 80px rgba(134,255,0,1),
                0 0 0 8px rgba(134,255,0,.1);
}
.glowing span:nth-child(3n + 2):before{
    background:rgba(255,255,0,1);
    box-shadow:0 0 20px rgba(255,214,0,1),
                0 0 40px rgba(255,214,0,1),
                0 0 60px rgba(255,214,0,1),
                0 0 80px rgba(255,214,0,1),
                0 0 0 8px rgba(255,214,0,.1);
}
.glowing span:nth-child(3n + 3):before{
    background:rgba(0,226,255,1);
    box-shadow:0 0 20px rgba(0,226,225,1),
                0 0 40px rgba(0,226,225,1),
                0 0 60px rgba(255,214,0,1),
                0 0 80px rgba(0,226,225,1),
                0 0 0 8px rgba(0,226,225,.1);
}
.glowing span:nth-child(3n + 1){
    animation:ani 10s alternate infinite;
}
.glowing span:nth-child(3n + 2){
    animation:ani-reverse 3s alternate infinite;
}
.glowing span:nth-child(3n + 3){
    animation:ani 8s alternate infinite;
}
@keyframes ani{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes ani-reverse{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.clearfix{
    color:white!important;
}
.works-section{
    height:100vh!important;

}

.edu{
  
    font-size:2.5rem!important;
  
    border-radius:25px;
}
.contact-header {
           margin-top:250px;
	
}

	@media(max-width:280px){
        .contact-header{
            margin-top:450px;
        }
          .works-header {
				margin-top:400px;
				
			}
        	.arrow1{
                margin-top:250px;
            }
       .about-header .about-text p{
     font-size: 1rem!important;
  
}
}
	@media(max-width:360px){
        .contact{
            margin-top:250px;
        }
        .contact-header{
            margin-top:500px!important;
        }
          .works-header {
				margin-top:400px;
				
			}
        	.arrow1{
                margin-top:250px;
            }
       .about-header .about-text p{
     font-size: 1rem!important;
  
}
	
	@media(max-width:480px){
        .contact{
            margin-top:250px;
        }
          .works-header {
				margin-top:350px;
				
			}
        	.arrow1{
                margin-top:250px;
            }
                   .about-header .about-text p{
     font-size: 1.5rem!important;
        	
    }
	@media(max-width:540px){
        .contact{
            margin-top:200px;
        }
          .works-header {
				margin-top:200px;
				
			}
        	.arrow1{
                margin-top:250px;
            }
                   .about-header .about-text p{
     font-size: 1.5rem!important;
        	
    }

    	@media(max-width:1024px){
            .works-header {
				margin-top:200px!important;
				
			}
               .contact{
            margin-top:100px!important;
        }
        
        .works-station{
            margin-bottom:0!important;
        }
           .works-header {
				margin-top:200px;
				
			}
        	.arrow1{
                margin-top:250px;
            }

        }
        @media(max-width:1201px){
              .works-header {
				margin-top:350px!important;
				
			}

        }