
form{
    height: fit-content;
    font-size: large;
    font-weight: bolder;
    width: fit-content;
  background-color: lightblue;
  border-radius: 13px;
  padding: 20px;
 

}
.container{
  margin-right: auto;
  margin-left:auto;
  width: 50%;

}